# mill
out/

# sbt
target/
.bsp/

# Scala
.scala-build/
.bloop/
.metals/

# JVM crash/replay logs
hs_err_pid*
replay_pid*

# npm
node_modules/

# Python
# AI agents would use python frequently
__pycache__/

# macOS
.DS_Store

# Windows
Thumbs.db
